.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

th {
  background-color: blue;
  color: white;
  }

  .custom-bg {
    background-color: #caf8e16b; /* Tomato color */
    color: #282c34;
  }

  .active-link {
    font-weight: bold;
    color: blue;
    text-decoration: underline;
  }
  
  .nav {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
  }
  
  .nav li {
    margin: 0;
  }
  
  
  .nav a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Optional: Use default text color */
  }
  
  .nav a.active-link {
    font-weight: bold; /* Highlight active link */
    text-decoration: none; /* Ensure no underline for active links */
    color: blue; /* Optional: Different color for active link */
  }
  
  .nav a:hover {
    text-decoration: none; /* No underline on hover */
  }
.icon-bg  {
  color: #0eb90e;
}